@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@font-face {
    font-family: 'Ailerons';
    src: url('/fonts/Ailerons-Typeface.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
	color: #fff;
	font-family: 'Poppins', sans-serif;
	position: relative;
	background-color: $background;
}

.profile-photo {
	width: 250px;
	height: 250px;
}

.wrapper {
	max-width: 90%;
	margin: 0 auto;
	padding-top: 75px;
}

.hidden {
	display: none;
}